<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerUrl</key>
	<string>https://server.billkeeper.hutinet.fr</string>
	<key>KeycloakIssuerUrl</key>
	<string>https://auth.billkeeper.hutinet.fr/realms/billkeeper</string>
	<key>KeycloakClientId</key>
	<string>billkeeper-ios</string>
	<key>KeycloakRedirectURI</key>
	<string>com.billkeeper.app:/oauth2redirect/provider</string>
</dict>
</plist>
